@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

small a {
  color: #8cd1ff;
}

.login-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15%;
  padding-right: 15%;
}

.program-container {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.bg-nav {
  background-color: rgb(26, 26, 174) !important;
}

/*------------ Login container ------------*/
.box-area {
  width: 930px;
}

/*------------ Right box ------------*/

.box-areaProgram {
  margin: 0 10px;
}
.left-boxProgram {
  height: 100px;
  overflow: hidden;
}
.right-boxProgram {
  padding: 20px;
}

/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}

.modifier::after {
  content: "MISE A JOUR";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}
.programmer::after {
  content: "PROGRAMMER";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}
.options {
  text-align: right;
}

.details-text-color {
  color: green;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Commence en dehors de l'écran en haut */
    opacity: 0; /* Invisible au début */
  }
  to {
    transform: translateY(0); /* Se déplace à sa position d'origine */
    opacity: 1; /* Devient visible */
  }
}

.details-row {
  transition: all 0.5s ease ease-in-out;
  -webkit-transition: all 0.5s ease ease-in-out;
  -moz-transition: all 0.5s ease ease-in-out;
  -ms-transition: all 0.5s ease ease-in-out;
  -o-transition: all 0.5s ease ease-in-out;
  animation: slideDown 1s ease-in-out forwards ease;
  -webkit-animation: slideDown 1s ease-in-out forwards ease;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
