@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

.login-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15%;
  padding-right: 15%;
}

.program-container {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.bg-nav {
  background-color: rgb(26, 26, 174) !important;
}

/*------------ Login container ------------*/
.box-area {
  width: 930px;
}

/*------------ Right box ------------*/

.box-areaProgram {
  margin: 0 10px;
}
.left-boxProgram {
  height: 100px;
  overflow: hidden;
}
.right-boxProgram {
  padding: 20px;
}

/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}

.modifier::after {
  content: "MISE A JOUR";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}
.programmer::after {
  content: "PROGRAMMER";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
