@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

/*POPUP D'ERREUR JAVASCRIPT*/
.custom-swal2 {
  z-index: 999999999999 !important;
}
.custom-swal .swal2-html-container {
  color: red;
  font-weight: 800;
}

.custom-swal2 .swal2-html-container {
  color: green;
  font-weight: 800;
}

.login-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: column;
}

.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.program-container {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.bg-nav {
  background-color: rgb(26, 26, 174) !important;
}

/*------------ Login container ------------*/
.box-area {
  width: 930px;
}

/*------------ Right box ------------*/

.box-areaProgram {
  margin: 0 10px;
}
.left-boxProgram {
  height: 100px;
  overflow: hidden;
}
.right-boxProgram {
  padding: 20px;
}

/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}

.modifier::after {
  content: "MISE A JOUR";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}
.programmer::after {
  content: "PROGRAMMER";
  position: absolute;
  top: 30%;
  color: #e0ffff;
  font-weight: 900;
  font-size: 25px;
}
.options {
  text-align: right;
}

.details-text-color {
  color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
}

.trans {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.details-row {
  position: relative; /* Position relative pour pouvoir utiliser z-index */
  z-index: 0; /* Mettre derrière le tr principal */
}

.nav-item:hover a {
  border-bottom: 3px solid white;
}

.profil:hover {
  border-bottom: none !important;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
